/* */
header h1 {
    text-align: center;
    color: rgb(4, 50, 88);
    padding: 20px;
}

nav {
text-align: center;
}
li {
    display: inline;
    padding: 10px;
    text-align: center;
}
nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: rgb(29, 122, 202);
    text-decoration: none;
}

body {
    text-align: center;
}

footer {
    color: grey;
}